<% var title = 'コンポーネント'; %>
<%- include('_layout/_head', {title: title}) %>
<body class="_l-body">
<%- include('_parts/_page-effect') %>
<div class="_c-drawer" data-c="drawer">
  <%- include('_parts/_drawer') %>

  <div id="container" class="_l-container" data-l="container">
    <%- include('_layout/_header', {headerType: 'sticky'}) %>

    <div id="contents" class="_l-contents" data-l="contents">
      <%- include('_parts/_page-header', {title: title}) %>

      <main id="main" class="_l-main" role="main">

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Alert</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin">
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-alert">Default</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-alert _c-alert--primary">Primary</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-alert _c-alert--success">Success</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-alert _c-alert--info">Info</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-alert _c-alert--warning">Warning</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-alert _c-alert--danger">Danger</div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Baloon</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin">
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-balloon-top">top</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-balloon-right">right</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-balloon-bottom">bottom</div>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-balloon-left">left</div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Breadcrumbs</h2>
            <div class="_c-section__content">
              <ol class="_c-breadcrumbs">
                <li class="_c-breadcrumbs__item"><a href="#">Home</a></li>
                <li class="_c-breadcrumbs__item"><a href="#">Blog</a></li>
                <li class="_c-breadcrumbs__item">Page title</li>
              </ol>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Buttons</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin">
                <div class="_c-row__col _c-row__col--1-3 _c-row__col--md-1-6">
                  <span class="_c-btn _c-btn--block">Default</span>
                </div>
                <div class="_c-row__col _c-row__col--1-3 _c-row__col--md-1-6">
                  <span class="_c-btn _c-btn--block _c-btn--primary">Primary</span>
                </div>
                <div class="_c-row__col _c-row__col--1-3 _c-row__col--md-1-6">
                  <span class="_c-btn _c-btn--block _c-btn--success">Success</span>
                </div>
                <div class="_c-row__col _c-row__col--1-3 _c-row__col--md-1-6">
                  <span class="_c-btn _c-btn--block _c-btn--info">Info</span>
                </div>
                <div class="_c-row__col _c-row__col--1-3 _c-row__col--md-1-6">
                  <span class="_c-btn _c-btn--block _c-btn--warning">Warning</span>
                </div>
                <div class="_c-row__col _c-row__col--1-3 _c-row__col--md-1-6">
                  <span class="_c-btn _c-btn--block _c-btn--danger">Danger</span>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Card</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin">
                <% for (var i = 0; i < 4; i++) { %>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-4">
                  <div class="_c-card">
                    <div class="_c-card__figure">
                      <img src="./assets/images/photo-1449089299624-89ce41e8306c.jpeg">
                    </div>
                    <div class="_c-card__body">
                      Card
                    </div>
                    <div class="_c-card__action">
                      <span class="_c-btn _c-btn--block">Action</span>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Forms</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin">
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
                  <label>
                    <span class="_c-checkbox">
                      <input type="checkbox">
                      <span class="_c-checkbox__control"></span>
                    </span>
                    checkbox1
                  </label>
                  <label>
                    <span class="_c-checkbox">
                      <input type="checkbox">
                      <span class="_c-checkbox__control"></span>
                    </span>
                    checkbox2
                  </label>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
                  <label>
                    <span class="_c-radio">
                      <input type="radio" name="radio-inline">
                      <span class="_c-radio__control"></span>
                    </span>
                    radio1
                  </label>
                    <label>
                      <span class="_c-radio">
                        <input type="radio" name="radio-inline">
                        <span class="_c-radio__control"></span>
                      </span>
                      radio2
                    </label>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
                  <span class="_c-select" data-c="select" aria-selected="false">
                    <select>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <span class="_c-select__label" data-c="select__label"></span>
                  </span>
                </div>
              </div>
              <div class="_c-row _c-row--margin">
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-5">
                  <input type="text" class="_c-form-control" placeholder="text">
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-5">
                  <input type="text" class="_c-form-control" placeholder="readonly" readonly>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-5">
                  <input type="text" class="_c-form-control" placeholder="disabled" disabled>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-2-5">
                  <div class="_c-input-group">
                    <div class="_c-input-group__addon">
                      @
                    </div>
                    <div class="_c-input-group__field">
                      <input type="text" placeholder="text">
                    </div>
                    <button class="_c-input-group__btn">Go</button>
                  </div>
                </div>
              </div>
              <p>
                <textarea class="_c-form-control" placeholder="textarea"></textarea>
              </p>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Copyright</h2>
            <div class="_c-section__content">
              <div class="_c-copyright">
                Copyright &copy; Monkey Wrench. All Rights Reserved.
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Drawer</h2>
            <div class="_c-section__content">
              <div class="_c-drawer" data-c="drawer" style="border: 1px solid #ccc; height: 160px; overflow: hidden; margin-bottom: 5px; background-color: #fff;">
                <nav id="___drawer" class="_c-drawer__body" data-c="drawer__body" role="navigation" aria-hidden="true">
                  <ul class="_c-drawer__menu">
                    <li class="_c-drawer__item"><a href="#">menu</a></li>
                    <li class="_c-drawer__item"><a href="#">menu</a></li>
                    <li class="_c-drawer__item">
                      <a href="#">menu</a>
                      <div class="_c-drawer__toggle" data-c="drawer__toggle" aria-expanded="false">
                        <span class="_ic-angle-right" aria-hidden="true"></span>
                      </div>
                      <ul class="_c-drawer__submenu" data-c="drawer__submenu" aria-hidden="true">
                        <li class="_c-drawer__subitem"><a href="#">submenu</a></li>
                        <li class="_c-drawer__subitem"><a href="#">submenu</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="_c-hamburger-btn" data-c="drawer-btn" aria-expanded="false" aria-controls="___drawer">
                <div class="_c-hamburger-btn__bar"></div>
                <div class="_c-hamburger-btn__bar"></div>
                <div class="_c-hamburger-btn__bar"></div>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Entries</h2>
            <div class="_c-section__content">
              <ul class="_c-entries">
                <li class="_c-entries__item">
                  <time class="_c-entries__item-date" datetime="2015-04-20">2015/04/20</time>
                  <a href="#">セロもみんなにいままし音のときおまえに飛んましようになあ日ドレミファと工合をとりておまえかあわてのへ済んて来たます。</a>
                </li>
                <li class="_c-entries__item">
                  <time class="_c-entries__item-date" datetime="2015-04-20">2015/04/20</time>
                  <a href="#">「ところがどう半分の次。まぜ。」</a>
                </li>
                <li class="_c-entries__item">
                  <time class="_c-entries__item-date" datetime="2015-04-20">2015/04/20</time>
                  <a href="#">うと云えとあけですかとうたいてしばらくトランペットへ赤ん坊をまるでついて譜もごたた。</a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Entry</h2>
            <div class="_c-section__content">
              <article class="_c-entry">
                <header class="_c-entry__header">
                  <h1 class="_c-entry__title">Entry Title</h1>
                </header>
                <div class="_c-entry__content">
                  <p>
                    子は一飛び立ち巻のようをふるえていな。曲はこどもはんたりみんなをのぞき込んといです。眼は鳥をまっすぐに考えてセロがボックスのようを追い払っんで狸からしてがぶがぶ口を思いからやっでし。やっとまるでねずみが足に歩いですませ。それあんまりにおしまいをはいりて声を弾きましで。
                  </p>
                  <p>
                    子が眼にしていろ何曲でそのゴーシュ窓ぼんやりたり一心らの裏までの窓係りのたってやったほっと何の面目はぴたり弾きものまし。公会堂表情さん。さんをはひけんだでな。あとというのをかくついいた。
                  </p>
                </div>
              </article>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Flexible Media</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin">
                <% for (var i = 0; i < 2; i++) { %>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-flex-media">
                    <div class="_c-flex-media__figure">
                      <img src="./assets/images/photo-1449089299624-89ce41e8306c.jpeg" style="width: 160px;">
                    </div>
                    <div class="_c-flex-media__body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-hero _c-hero--cover _c-hero--overlay" style="background-image: url(./assets/images/photo-1449089299624-89ce41e8306c.jpeg); color: #fff;">
          <div class="_c-hero__content _u-text-center" style="padding: 5rem;">
            <div class="_c-container">
              <div class="_c-section__content">
                <h2>Hero</h2>
                <p>
                  Lorem ipsum dolor sit amet
                </p>
                <p>
                  <span class="_c-btn _c-btn--ghost">Button</span>
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Media</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin">
                <% for (var i = 0; i < 2; i++) { %>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-2">
                  <div class="_c-media">
                    <div class="_c-media__figure">
                      <img src="./assets/images/photo-1449089299624-89ce41e8306c.jpeg" style="width: 160px;">
                    </div>
                    <div class="_c-media__body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Navbar</h2>
            <div class="_c-section__content">
              <ul class="_c-navbar">
                <li class="_c-navbar__item" data-c="navbar__item" aria-haspopup="true">
                  <a href="#">menu</a>
                  <ul class="_c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
                    <li class="_c-navbar__subitem" data-c="navbar__subitem" aria-haspopup="true">
                      <a href="#">submenu</a>
                      <ul class="_c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
                        <li class="_c-navbar__subitem" data-c="navbar__subitem"><a href="#">submenu</a></li>
                        <li class="_c-navbar__subitem" data-c="navbar__subitem"><a href="#">submenu</a></li>
                      </ul>
                    </li>
                    <li class="_c-navbar__subitem" data-c="navbar__subitem"><a href="#">submenu</a></li>
                  </ul>
                </li>
                <li class="_c-navbar__item" data-c="navbar__item"><a href="#">menu</a></li>
                <li class="_c-navbar__item" data-c="navbar__item"><a href="#">menu</a></li>
                <li class="_c-navbar__item" data-c="navbar__item"><a href="#">menu</a></li>
                <li class="_c-navbar__item" data-c="navbar__item"><a href="#">menu</a></li>
              </ul>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Meta</h2>
            <div class="_c-section__content">
              <ul class="_c-meta">
                <li class="_c-meta__item">Date: December 15, 2016</li>
                <li class="_c-meta__item">Author: Monkey Wrench</li>
                <li class="_c-meta__item">Category: CSS</li>
              </ul>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Page Header</h2>
          </div>
          <div class="_c-section__content">
            <header class="_c-page-header">
              <h1 class="_c-page-header__title">Page Header</h1>
            </header>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <h2 class="_c-section__title">Pagination</h2>
          </div>
          <div class="_c-section__content">
            <div class="_c-pagination">
              <span class="_c-pagination__item" aria-current="page">1</span>
              <a class="_c-pagination__item-link">2</a>
              <span class="_c-pagination__item-ellipsis" aria-hidden="true">…</span>
              <a class="_c-pagination__item-link">99</a>
              <a class="_c-pagination__item-link">100</a>
            </div>
          </div>
        </section>

        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">Spinner</h2>
            <div class="_c-section__content _u-text-center">
              <div class="_c-row _c-row--margin">
                <div class="_c-row__col _c-row__col--1-3">
                  <div class="_c-spinner-dots">
                    <div class="_c-spinner-dots__dot"></div>
                    <div class="_c-spinner-dots__dot"></div>
                    <div class="_c-spinner-dots__dot"></div>
                  </div>
                </div>
                <div class="_c-row__col _c-row__col--1-3">
                  <div class="_c-spinner-pulse">
                    <div class="_c-spinner-pulse__bar"></div>
                    <div class="_c-spinner-pulse__bar"></div>
                    <div class="_c-spinner-pulse__bar"></div>
                  </div>
                </div>
                <div class="_c-row__col _c-row__col--1-3">
                  <div class="_c-spinner-circle"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
    </div>

    <%- include('_layout/_footer') %>
  </div>

</div>

<%- include('_layout/_foot') %>
</body>
</html>
