<%- include('_layout/_head', {title: ''}) %>
<body class="_l-body">
<%- include('_parts/_page-effect') %>
<div class="_c-drawer" data-c="drawer">
  <%- include('_parts/_drawer') %>

  <div id="container" class="_l-container" data-l="container">
    <%- include('_layout/_header', {headerType: 'overlay'}) %>

    <div id="contents" class="_l-contents" data-l="contents">
      <main id="main" class="_l-main" role="main">

        <section class="_c-hero _c-hero--full _c-hero--cover _c-hero--overlay" style="background-image: url('./assets/images/photo-1449089299624-89ce41e8306c.jpeg')">
          <div class="_c-hero__content">
            <div class="_c-container">
              <div class="p-main-visual">
                <h1 class="p-main-visual__title">大江戸Ruby会議07</h1>
                <div class="p-main-visual__content">
                  とき：2018 年 9 月 15 日（土）<br>
                  場所：浅草 雷5656会館 5F・6F『ときわホール』
                </div>
                <div class="p-main-visual__action">
                  <div class="_c-row _c-row--margin-s _c-row--md-margin">
                    <!--
                    <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-4-12 _c-row__col--md-offset-2-12">
                      <a class="_c-btn _c-btn--block _c-btn--ghost" href="https://www.google.co.jp/maps/place/%E3%80%92111-0032+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8F%B0%E6%9D%B1%E5%8C%BA%E6%B5%85%E8%8D%89%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%96%E2%88%92%EF%BC%91+%E9%9B%B7%EF%BC%95%EF%BC%96%EF%BC%95%EF%BC%96%E4%BC%9A%E9%A4%A8/@35.7144058,139.792377,16.28z/data=!4m5!3m4!1s0x60188eea7c33bb21:0xc86979b841889e35!8m2!3d35.7166932!4d139.7960847" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Google Maps</a>
                    </div>
                  -->
                  <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-4-12 _c-row__col--md-offset-4-12">
                      <a class="_c-btn _c-btn--block _c-btn--danger _c-btn--ghost" a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjNhanNqajM4dDBzZjBwMm41c3E4MnF1Z24gZnFsOG41c3BuaXVscnI3Zm9yZmdwbGtidnNAZw&amp;tmsrc=fql8n5spniulrr7forfgplkbvs%40group.calendar.google.com"><i class="fa fa-calendar" aria-hidden="true"></i> Googleカレンダーに登録する</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="_c-section">
          <div class="_c-container">
            <!-- <h2 class="_c-section__title">大江戸Ruby会議07とは</h2> -->
            <div class="_c-section__content">
              <p>
                登壇者やタイムテーブルなど、詳細情報については公開まで今しばらくお待ちくださいませ。
              </p>
            </div>
          </div>
        </section>

        <!--
        <section class="_c-section _c-section--bg">
          <div class="_c-container">
            <h2 class="_c-section__title">見出し</h2>
            <div class="_c-section__content">
              <div class="_c-row _c-row--margin _c-row--md-fill">
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-3">
                  <section class="_c-card">
                    <div class="_c-card__figure">
                      <img src="./assets/images/photo-1449089299624-89ce41e8306c.jpeg" alt="" />
                    </div>
                    <div class="_c-card__body">
                      テキスト
                    </div>
                    <div class="_c-card__action">
                      よむ
                    </div>
                  </section>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-3">
                  <section class="_c-card">
                    <div class="_c-card__figure">
                      <img src="./assets/images/photo-1449089299624-89ce41e8306c.jpeg" alt="" />
                    </div>
                    <div class="_c-card__body">
                      テキスト
                    </div>
                    <div class="_c-card__action">
                      よむ
                    </div>
                  </section>
                </div>
                <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-3">
                  <section class="_c-card">
                    <div class="_c-card__figure">
                      <img src="./assets/images/photo-1449089299624-89ce41e8306c.jpeg" alt="" />
                    </div>
                    <div class="_c-card__body">
                      テキスト
                    </div>
                    <div class="_c-card__action">
                      よむ
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>
        -->

      </main>
    </div>

    <%- include('_layout/_footer') %>
  </div>

</div>

<%- include('_layout/_foot') %>
</body>
</html>
